.about-banner {
  height: 50vh;
  width: 100vw;
  background: url(../Images/scl-build.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;

  .overlay {
    height: 100%;
    width: 100%;
    background-color: #0000005e;
    position: absolute;
  }

  h1,
  p {
    z-index: 1;
    box-shadow: 1px 2px 4px #000000bf;
  }
  h1 {
    font-size: 55px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
  }
}

.vision-section {
  height: 70vh;
  display: flex;
  gap: 70px;
  padding: 80px;

  .vision,
  .mission {
    text-align: center;
    box-shadow: 3px 3px 13px 1px #4e585585;
    padding: 10px;
    border-radius: 10px;
  }

  h3 {
    margin: 20px 0;
    font-size: 25px;
    color: #3498db;
  }
  p {
    color: #2c3e50;
  }

  .icon {
    font-size: 45px;
    margin-top: 30px;
  }
}

.prinicpal-message {
  display: flex;
  gap: 50px;
  padding: 80px;
}
.prinicpal-card {
  border-radius: 10px;
  border-top-right-radius: 10px;
}
img {
  width: 450px;
}

.principal-info {
  background-color: #3498db;
  color: white;

  p {
    margin-top: 13px;
    font-size: 15px;
  }

  h2 {
    font-size: 23px;
  }
}
.school-values{
    h1{
        font-size: 40px;
        text-align: center;
        margin-bottom: 100px;
        color: #3498db;
    }
}
.school-journey {
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 80px 0;

  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    color: #3498db;
  }
}

.timeline {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timeline-card {
  position: absolute;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px #0000000d;
  width: 300px;

  h3 {
    color: #3498db;
    font-size: 20px;
    margin-bottom: 15px;
  }
  p {
    color: #2c3e50;
  }
}
.timeline-date {
  p {
    font-size: 20px;
    background-color: #3498db;
    color: white;
    padding: 16px 24px;
    border-radius: 30px;
    font-weight: 700;
    box-shadow: 0 4px 10px #0000001a;
    margin-bottom: 150px;
  }
}

.left-card {
  right: 500px;
  text-align: right;
}

.right-card {
  left: 500px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 80%;
  background-color: #3498db;
}
/* 
    .fa-book{
        position: absolute;
        right: 900;
        color: white;
        background-color: orangered;
        padding: 15px;
        border-radius: 50%;
    } */

footer {
  height: 50vh;
  background-color: #34495e;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
}

.footer-contenct {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
}

.footer-bottom {
  text-align: center;
  padding: 25px 0;
}

.why-choose-card-container {
  display: flex;
  gap: 50px;
  .card {
    background-color: #0000001a;
    box-shadow: 0 10px 25px #0d0d0d32;
    border-radius: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    color: #2c3e50;
    text-align: justify;
    padding: 0 32px 32px 32px;
  }
  .feature-icon {
    font-size: 45px;
  }
}
