.notice-banner {
  height: 50vh;
  width: 100vw;
  background:url(https://images.unsplash.com/photo-1741636174602-252cd7bb233c?q=80&w=2155&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: white;

  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.503);
    position: absolute;
  }
  h1,
  p {
    z-index: 1;
    text-shadow: 1px 2px 4px #000000bf;
  }
  h1 {
    font-size: 55px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
  }
}


.notice-categories button{
  font-weight: 600;
  color: #212529;
border: none;
outline: none;
background-color: white;
padding: 10px 20px;
border-radius: 25px;
box-shadow: 2px 2px 8px 0px #1c1a1a33;
}


.notice-categories{
display: flex;
justify-content: center;
gap: 20px;
}

.first-button{
  background-color: #667eea !important;
  color: white !important;
}

.notice-cards .card{
    display: flex;
    box-shadow: 4px 4px 12px 0px #acacf9ab;
    border-radius: 10px;
    margin-bottom: 35px;
}

.notice-date{
    background-color: #3498db;
    color: white;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.notice-content{
    padding:20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button{
        border: none;
        outline: none;
        border-radius: 25px;
        padding: 10px 20px;
        color: #004085;
        background-color: #cce5ff;
        font-weight: 600;
        align-self: flex-start;
    }

    h1{
        font-size: 20px;
        color: #2c3e50;
    }

    p{
        font-size: 15px;
        color: #7f8c8d;
    }

    a{
        text-decoration: none;
        font-size: 15px;
        color: #3498db;
    }
}

.notice-categories{
    padding-top: 50px;

}
.notice-cards{
    padding: 50px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}


.first{
    background-color: #3498db;
    color: white;
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;


    p {
    background-color: #b8b9b9;
    color: white;
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    }

.next{
padding: 5px 10px;
width: 75px;
border-radius: 25px;
}

}

